@charset "utf-8";

.header_logo {
    padding-top: 10px !important;
}

.cover .btn-success {
    background-color: #ed486f;
    border-color: #ed486f;
}


/* footer */
#footer ul {
    background-color: #F7F7F7;
    padding: 35px 0;
    text-align: center;

}

#footer ul li {
    list-style: none;
    display: inline-block;
}

#footer ul li a {
    color: #909090;
    font-size: 12px;
    padding: 0 11px;
    border-right: 1px solid #9A9C9C;
}

small p {
    background-color: #555555;
    text-align: center;
    color: #fff;
    padding: 40px 0;
    font-size: 12px;
}